body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.message-form{
  height: calc(100% - 35)
}

.spacing {
  display: table-cell;
  vertical-align: top;
}

.message-container .pic {
  background-image: url('https://storage.googleapis.com/lsk-guide-jobs.appspot.com/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 30px;
  border-radius: 20px;
}

.message-container .spacing {
  display: table-cell;
  vertical-align: top;
}
.message-container .message {
  display: table-cell;
  width: calc(100% - 40px);
  padding: 5px 0 5px 10px;
}
.message-container .name {
  display: inline-block;
  width: 100%;
  padding-left: 40px;
  color: #bbb;
  font-style: italic;
  font-size: 12px;
  box-sizing: border-box;
}
.messageInputContainer {
  display: flex
}

.messageInputContainer .messageInput {
  display: inline-block;
  flex-grow: 1;
}